{% extends "layout.html" %}

{% block title %}Edit training session{% endblock %}

{% block content %}
    <h2>Edit training session</h2>
  <form action="/update_item" method="post">
    <p>
      Title: <br />  
      <input type="text" name="title" value="{{ item.title}}" maxlength="80" required/>
    </p>
   <p>
      Training type: <br />
      <select name="training_type" required>
        <option value="off-ice"
          {% if item.training_type == "off-ice" %}selected{% endif %}>
          off-ice
        </option>

      <option value="on-ice"
        {% if item.training_type == "on-ice" %}selected{% endif %}>
        on-ice
      </option>
</select>
    </p>
    <p>
      Specialization: <br />
  <select name="specialization">
    <option value="">(optional)</option>

    <option value="jumps" {% if item.specialization == "jumps" %}selected{% endif %}>jumps</option>
    <option value="spins" {% if item.specialization == "spins" %}selected{% endif %}>spins</option>
    <option value="gliding" {% if item.specialization == "gliding" %}selected{% endif %}>gliding</option>
    <option value="multi-modal training" {% if item.specialization == "multi-modal training" %}selected{% endif %}>multi-modal training</option>

    <option value="SFP" {% if item.specialization == "SFP" %}selected{% endif %}>SFP</option>
    <option value="GFP" {% if item.specialization == "GFP" %}selected{% endif %}>GFP</option>
    <option value="stretching" {% if item.specialization == "stretching" %}selected{% endif %}>stretching</option>
    <option value="choregraphy" {% if item.specialization == "choregraphy" %}selected{% endif %}>choreography</option>
</select>

    <p>
      Format (group/individual): <br /> 
    <select name="format" required>
      <option value="group" {% if item.format == "group" %}selected{% endif %}>group</option>
      <option value="individual" {% if item.format == "individual" %}selected{% endif %}>individual</option>
      <option value="split" {% if item.format == "split" %}selected{% endif %}>split</option>
    </select>
    <p>
      Level: <br />
      <select name="training_level" required>
        <option value="all levels" {% if item.training_level == "all levels" %}selected{% endif %}>all levels</option>
        <option value="beginner" {% if item.training_level == "beginner" %}selected{% endif %}>beginner</option>
        <option value="intermediate" {% if item.training_level == "intermediate" %}selected{% endif %}>intermediate</option>
        <option value="advanced" {% if item.training_level == "advanced" %}selected{% endif %}>advanced</option>
      </select>
    </p>

    {% if user.role == "admin" %}
    <p>
      Coach: <br />
      <select name="coach_id">
        {% for coach in coaches %}
        <option value="{{ coach.id }}"
        {% if coach.id == item.coach_id %}selected{% endif %}>
        {{ coach.username }}{% if coach.role == "admin" %} (Admin){% endif %}
      </option>
      {% endfor %}
      </select>
    </p>
    {% endif %}
    <p>
      Date: <br />
      <input type="date" name="training_date" value="{{item.training_date}}" required/>
    </p>
    <p>
      Time: <br />
      <input type="time" name="training_time" value="{{item.training_time}}" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="training_description" rows="8" cols="80" maxlength="1000">{{item.training_description}} </textarea>
    </p>
    
    <input type="hidden" name = "item_id" value="{{item.id}}"/> <!--adding hidden item_id to pass it to the function-->
    <input type="submit" value="Edit session" />
      
  </form>
{% endblock %}