{% extends "layout.html" %}

{% block title %}Search for training{% endblock %}

{% block content %}
  <h2> Search for training </h2>
  <form action="/find_item" method="get">
    <p>
      Search term: <input type="text" name="query" value="{{ query }}">
    </p>
    <input type="submit" value="Search">
  </form>

  {% if query %}
  <!--check value of value={{ query }}-->
  <h2>Results</h2>

  <ul>
    {% for item in results %}
    <li><a href="/item/{{ item.id }}">{{ item.title}}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  <!--This block means: “Only show <h2>Results</h2> if query has a value”-->
{% endblock %}