<!DOCTYPE html>
<html>

<head>
  <title> User Profile Picture </title>
</head>

<body>
    <h1> User Profile Picture </h1>
    <form action="/remove_image" method="post">
    <img src="/image/{{ user.id }}" style="width: 150px; height: 190px; object-fit: cover;" />    </p>
    <input type="submit" value="Remove" /> 
    </form>
    <h2> Add new picture</h2>
    <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Picture: <input type="file" name="image" accept=".jpg" />
    </p>
    <input type="submit" value="Submit" />
  </form>

    <p>
        <a href="/user/{{ user.id }}">Back</a>
    </p>
  
</body>

</html>