{% extends "layout.html" %}

{% block title %}User Profile Picture{% endblock %}

{% block content %}
{% if user.role == "coach" %}
    {% set role_label = "Coach" %}
{% elif user.role == "client" %}
    {% set role_label = "Client" %}
{% elif user.role == "admin" %}
    {% set role_label = "Head coach" %}
{% endif %}
<h2>{{ role_label }} {{ user.username }}</h2>
    <h3>Profile Picture</h3>
    <form action="/remove_image" method="post">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <img src="/image/{{ user.id }}" style="width: 150px; height: 190px; object-fit: cover;" /></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    <input type="submit" value="Remove" /> 
    </form>

    <h3> Add new picture</h3>
    <form action="/add_image" method="post" enctype="multipart/form-data">
    <input type="hidden" name="user_id" value="{{ user.id }}">
    <p>
      Picture: <input type="file" name="image" accept=".jpg" />
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

    <input type="submit" value="Submit" />
  </form>

    <p>
        <a href="/user/{{ user.id }}">Back to user page</a>
    </p>
 {% endblock %}