{% extends "layout.html" %}

{% block title %}Main Figure Skating Studio{% endblock %}

{% block content %}
  <h2>Announcements</h2>
  {% for item in items %}
  <div class="item">
  <a href="/item/{{ item.id }}">{{ item.title }}</a> <br />
   Date: {{ item.training_date }} | Time: {{ item.training_time }}<br />
      Level: {{ item.training_level }} <br />
      Coach: <a href="/user/{{ item.coach_id }}">{{ item.username }}</a> 
  
  </div>
  {% endfor %}

  <h2>Coaches</h2>
    <ul>
    {% for coach in coaches %}
    <li><a href="/user/{{ coach.id }}">{{ coach.username }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
