<!DOCTYPE html>
<html>

<head>
  <title>New training session</title>
</head>

<body>
    <h1>Add a new training session</h1>
  <form action="/create_item" method="post">
    <p>
      Title: <br />  
      <input type="text" name="title" maxlength="80" required/>
    </p>

    {% for class in classes %}
    <p>
     {{ class }}: <br />
     <select name="{{ class }}"
      {% if class not in ["specialization"] %}required{% endif %}>
      <option value="">(choose)</option>
      {% for option in classes[class] %}
        <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
     </select>
     </p>
     {% endfor %}
     {% if user.role == "admin" %}
    <p>
      Coach: <br />
      <select name="coach_id">
        {% for coach in coaches %}
        <option value="{{ coach.id}}">
          {{ coach.username}}
          {% if coach.role == "admin" %} (Admin){% endif %}
        </option>
        {% endfor %}
      </select>
    </p>
    {% endif %}
    <p>
      Date: <br />
      <input type="date" name="training_date" required />
    </p>
    <p>
      Time: <br />
      <input type="time" name="training_time" required />
    </p>
    <p>
      Description: <br />
      <textarea name="training_description" rows="8" cols="80" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Add new session" />
  </form>
</body>

</html>