{% extends "layout.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    <h2>{{ item.title }}</h2>
    {% if session.user_id == item.coach_id or user.role=="admin" %}
  <p>
    <a href="/edit_item/{{ item.id }}" >Edit</a>
    <a href="/remove_item/{{ item.id }}" >Delete</a>
  </p>
  <!-- <a> --The browser sends a GET request--it simply navigates to another page -->
    <!-- <a> --no form needed <form> is used to send data--method POST -->
  {% endif %}
    <p>
        Type: {{item.training_type}}
    </p>
    {% if item.specialization %}
    <p>
        Specialization: {{ item.specialization }}
    </p>
    {% endif %}
    <p>
        Format: {{item.format}}
    </p>
    <p>
        Level: {{item.training_level}}
    </p>
    <p>
        Coach: <a href="/user/{{ item.coach_id }}" >{{item.coach_name}}</a>
    </p>
    <p>
        Date: {{item.training_date}}
    </p>
    <p>
        Time: {{item.training_time}}
    </p>
    <p>
        {{item.training_description}}
    </p>
    
    <h3>Particpants</h3>
    <ul>
        {% for participant in participants %}
            <li><a href="/user/{{ participant.user_id }}">{{ participant.username }}</a></li>
            {% endfor %}
    </ul>

    {% if session.user_id %}
        {% if booked %}
         <form action="/cancel_booking" method="post">
          <input type="hidden" name="item_id" value="{{ item.id}}"/>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Cancel booking"/>
          </form>
        {% else %}
         <form action="/book_training" method="post">
          <input type="hidden" name="item_id" value="{{ item.id }}"/>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Book training"/>
         </form>
        {% endif %}
    {% endif %}
    <!-- end of new -->
{% endblock %}
