<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
    <h1>{{ item.title }}</h1>
    {% if session.user_id == item.user_id or session.user_id == item.coach_id %}
  <p>
    <a href="/edit_item/{{ item.id }}" >Edit</a>
    <a href="/remove_item/{{ item.id }}" >Delete</a>
  </p>
  <!-- <a> --The browser sends a GET request--it simply navigates to another page -->
    <!-- <a> --no form needed <form> is used to send data--method POST -->
  {% endif %}
    <p>
        Type: {{item.training_type}}
    </p>
    {% if item.specialization %}
    <p>
        Specialization: {{ item.specialization }}
    </p>
    {% endif %}
    <p>
        Format: {{item.format}}
    </p>
    <p>
        Level: {{item.training_level}}
    </p>
    <p>
        Coach: <a href="/user/{{ item.coach_id }}" >{{item.coach_name}}</a>
    </p>
    <p>
        Date: {{item.training_date}}
    </p>
    <p>
        Time: {{item.training_time}}
    </p>
    <p>
        {{item.training_description}}
    </p>
    <p>
        <a href="/">To the main</a>
    </p>
  
</body>

</html>