<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
    <h1>{{ item.title }}</h1>
    <p>
        Type: {{item.training_type}}
    </p>
    <p>
        Specialization: {{item.specialization}}
    </p>
    <p>
        Format: {{item.format}}
    </p>
    <p>
        Level: {{item.training_level}}
    </p>
    <p>
        Coach: {{item.coach}}
    </p>
    <p>
        Date: {{item.training_date}}
    </p>
    <p>
        Format: {{item.training_time}}
    </p>
    <p>
        {{item.training_description}}
    </p>
    <p>
        <a href="/">To the main</a>
    </p>
  
</body>

</html>