<!DOCTYPE html>
<html>

<head>
  <title> User {{ user.username }}</title>
</head>

<body>
    <h1> User {{ user.username }}</h1>
    <p>
        User has {{ items | count }} announcements.
    </p>
    <h2> Announcements </h2>
    <ul> 
        {% for item in items %}
        <li><a href="/item/{{ item.id }}">{{item.title}}</a>

        {% if item.training_level %}
            <p>(Level: {{ item.training_level }})</p>
        {% endif %}

        </li>
        {% endfor %}
    </ul>
    <p>
        <a href="/">To the main</a>
    </p>
  
</body>

</html>